/.bundle
/.env*
!/.env.example
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/storage
!/tmp/storage/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep
/config/master.key
/public/uploads
/coverage
/spec/examples.txt
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/postgres_data
/redis_data

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
